body{

margin:0;

padding:0;

font-family:Arial,sans-serif;

background:#020617;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.phone{

width:360px;

height:740px;

background:#0f172a;

border-radius:35px;

box-shadow:0 0 35px rgba(0,0,0,0.7);

padding:20px;

overflow:auto;

}

.screen{

display:none;

}

.screen.active{

display:block;

}

button{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:18px;

font-weight:bold;

background:#1e293b;

color:white;

cursor:pointer;

}

button:hover{

transform:scale(1.03);

}

input,select{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:12px;

}

.apps{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-top:20px;

}

.apps button{

font-size:30px;

height:80px;

}

#notifications{

background:#1f2937;

padding:15px;

border-radius:15px;

margin-top:15px;

}

.battery{

font-size:20px;

margin-bottom:15px;

}

.light-mode{

background:#ffffff;

color:black;

}

.dark-mode{

background:#111827;

color:white;

}